<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta") %>
    <title>Home / Twitter</title>
  </head>

  <body>
    <%- include("partials/createTweetModal") %>
    <section class="d-flex justify-content-center container-fluid">
      <!-- Sidebar -->
      <div class="left-sidebar d-flex justify-content-end"><%- include("partials/sidebar") %></div>
      <!-- Main -->
      <main class="border p-0"><%- include("partials/singleTweet") %></main>

      <!-- Right Column -->
      <%- include("partials/rightSidebar.ejs") %>
    </section>
    <%- include("partials/scripts") %>
  </body>
</html>
